#container {
    position: relative;
    top: 30px;
    outline: 2px solid #000;
    font-size: 0;
    margin: auto;
    height: 500px;
    width: 560px;
    padding: 0;
    border: none;
}
#grid {
    margin: 5px;
    padding: 10px;
    outline: 1px solid rgb(87, 97, 88);
    display: inline-block;
    background-image: url("./images/dragon2.png");
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}