#container {
    position: relative;
    top: 30px;
    font-size: 0;
    margin: auto;
    height: 650px;
    width: 740px;
    padding: 0;
}
#grid {
    margin: 3px;
    padding: 10px;
    outline: 1px solid rgb(87, 97, 88);
    display: inline-block;
    background-image: url("./images/dragon2.png");
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}